*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
}
.categories {
    display: flex;
    flex: 0 1 256px;
    flex-direction: column;
    padding: 1em;
}
.categories a {
    text-decoration: none;
    font-family:'Dosis';
    text-align: center;
    text-transform: uppercase;
    margin: 0 1em 0.5em;
    padding: 1em;
    background-color: darkmagenta;
    color: gold
}
.categories a:hover {
    background-color: lightyellow;
    box-shadow: 0 2px 5px -2px black;
}